*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(17, 17, 17);
    padding: 20px;
    text-align: center;
    color: white;
}

h1{
    color: white;
    margin-bottom: 20px;
}

button{
    padding: 50px;
    border-radius: 100px;
    background-color: rgb(28, 28, 28);
    border-width: 5px;
    border-style: solid;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 50px;
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
    background-color: rgb(46, 46, 46);
}

.reset,
.save,
.autoplay{
    font-size: 20px;
    padding: 30px;
    border-radius: 0;
    color: white;
}

h2{
    margin: 30px;
}

p{
    margin: 20px;
    font-size: 30px;
    line-height: 40px;
}


